@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply antialiased;
  }

  body {
    @apply bg-white text-neutral-900 dark:bg-neutral-950 dark:text-neutral-100;
    @apply transition-colors duration-300;
  }
}
